html,
body {
  background-color: #000;
  margin: auto;
  max-width: 50%;
}

ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

.pokemon-button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-family: monospace;
    font-weight:700;
    margin: 8px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #184252;
    color: #fff;
    border: 2px solid #fff;
    list-style-type: none;
    border-radius: 8px;
    text-transform: capitalize;
    line-height: 1.3em;
    width: 210px;
    box-shadow: -4px -4px 2px #fff;
    opacity: .9;
}

.pokemon-button:hover {
  opacity: 1;
  transform: scale(1.1);
  color: #89cd8f;
  border-color: #89cd8f;
  box-shadow: -4.5px -4.5px 2.5px #89cd8f;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 15px 5px; 
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 20px;;
  margin-left: 37.7%;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #89cd8f;
  padding: 20px;
  width: 400px;
  max-width: 70%;
  text-align: center;
  border-radius: 2px;
  height: 295px;
  width: 420px;
  max-height: 100%;
}

.close-modal {
   float: right;
  color: #000;
  text-decoration: none;
  font-family: monospace;
  font-size: 10px;
}

.close-modal:hover {
  transform: scale(1.3);
  cursor: pointer;
}

h1 {
  color: #fff;
  padding-left: 50px;
}

.modal h2 {
  margin: 25px;
  text-transform: capitalize;
  font-family: monospace;
  color: #000;
  padding-top: 30px;
}

.modal p {
  padding: 2px;
  font-family: monospace;
  color: #000;
}

.close-modal {
   float: right;
  border: 0;
  background: none;
  color: #000;
  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
}

.sprite {
  padding: 2px;
}

.pokedex-image {
  display:grid;
  float: left;
  position: fixed;
  margin: 5%;
}